
<p>inserire un nome utente per visualizzarne le informazioni</p>

<table>
<tr><td>Username:</td><td>{{utente}}</td></tr>
<tr><td>Biografia:</td><td>{{bio}}</td></tr>
<tr><td>Numero di post:</td><td>{{npost}}</td></tr>
<tr><td>Numero di follower:</td><td>{{nfollower}}</td></tr>
<tr><td>Numero di seguiti:</td><td>{{nfollowing}}</td></tr>
<!--<tr><td>Fotoprofilo:</td><td><img src="{{profilepicture}}"></td></tr> -->

</table>
